{% extends 'base.html.twig' %}

{% block title %}New UserHasSn{% endblock %}

{% block body %}
    <h1>Create new UserHasSn</h1>

    {{ include('user_has_sn/_form.html.twig') }}

    <a href="{{ path('user_has_sn_index') }}">back to list</a>
{% endblock %}
